includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 10
    paths:
        - app
        - tests
    excludePaths:
        - storage
        - vendor
        - app/Shared/Database/Migrations
        - app/User/Database/Migrations
        - app/NumberQueue/Database/Migrations
        - app/NumberQueue/Services/NumberQueueToTextConversion/Data
        - app/NumberQueue/Services/NumberQueueStore/Data
